{% extends "base.html" %}
{% block content %}

<div class="sidebar">
    <div class="profile">
        <img src="{{ url_for('static', filename='images/images.jpeg') }}" alt="Profile">
        <div>
            <h3>{{ user.name }}</h3>
            <p>{{ user.role }}</p>
        </div>
    </div>

    <ul class="menu">
        <li><a href="{{ url_for('main.pdashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('main.home') }}">Situație copil</a></li>
        <li class="active"><a href="{{ url_for('main.absenta') }}">Absențe</a></li>
        <li><a href="#">Mesagerie</a></li>
        <li><a href="{{ url_for('main.chat_page') }}" target="_blank">Chat AI</a></li>
    </ul>

    <a class="logout" href="{{ url_for('main.logout') }}">Logout</a>
</div>
<body>

<div class="content-wrapper">
    <div class="main2">
        <div class="header_situatie">
            <p>Elev</p>
            <h2>{{ child.name }}</h2>
        </div>

    </div>

    <div class="container">
        <h1 class="page-title">Absente</h1>

        <!-- Overall Average Card -->
        {% if child %}
            {% if absences_by_day %}
                {% for date, subjects in absences_by_day.items() %}
                    <div class="card gradient-card.overall-average-absent">
                        <div class="card-content">
                            <div class="absent-item" style="margin-bottom: 10px;">
                                <strong>{{ date }}</strong>
                            </div>
                            {% for subject in subjects %}
                                <div class="absent-item">
                                    <span class="absent-left">{{ subject }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p style="margin-top: 20px;">Nu există absențe pentru {{ child.name }}.</p>
            {% endif %}
        {% else %}
            <p>Nu s-a găsit niciun copil asociat contului tău.</p>
        {% endif %}

        

        
    </div>
</div>


{% endblock %}